<%= image_tag("main.png", :alt => "Main page header image" , class:"main-image") %>

<div class="hr"></div>
<div class="hr"></div>

<ul class="main-menu">
  <li class="main-menu-item"><%= link_to "Adventure", adventure_path %></li>
  <li class="main-menu-item"><%= link_to "Teleport", new_teleport_path %></li>
</ul>
