<article>
  <% if @logs.present? %>
    <article>
      <% @logs.each do |log| %>
        <p class="log-text <%= case log
                      when GameLogs::DamageDealtLog then 'log-damage-dealt'
                      when GameLogs::DamageReceivedLog then 'log-damage-received'
                      when GameLogs::ExperienceGainedLog then 'log-experience-gained'
                    end %>">
          <%= log.description %>
        </p>
      <% end %>
    </article>
  <% end %>
</article>
