<article>
  <h1><%= I18n.t @map&.name %></h1>
  <%= render "adventures/#{@map.code}/#{@location.code}" if @map.code.present? && @location.code.present? %>

  <% if @location != @map %>
    <ul class="menu">
      <li class="menu-item">
        <%= button_to I18n.t(@map.name, default: @map.name),
          url_for(controller: :adventures, action: :travel),
          :method => :post %>
      </li>
    </ul>
  <% end %>
</article>
