<article>
  <h1><%= @map.name %></h1>
  <% if @paths.present? %>
    <div class="hr"></div>
    <div class="hr"></div>

    <ul class="menu">
      <li class="menu-item menu-header">Go to:</li>
      <% @paths.each do |path| %>
        <li class="menu-item">
          <%= button_to path.name, url_for(controller: :adventures, action: :travel, id: path.id), :method => :post %>
        </li>
      <% end %>
      <li class="menu-item menu-header">Or:</li>
      <li class="menu-item"><%= link_to "Teleport", new_teleport_path %></li>
    </ul>
  <% end %>
</article>
