<section>
  <h3><%= @map.name %></h3>
  <p>You can go to:</p>
  <ul>
    <% @paths.each do |path| %>
      <li>
        <%= button_to path.name, url_for(controller: :adventures, action: :travel, id: path.id), :method => :post %>
      </li>
    <% end %>
  </ul>
</section>
