<section>
  <ul>
    <li>
      <%= link_to "Select character", characters_path %>
    </li>
    <li class="dev">
      <%= link_to "Edit Password", edit_password_path %>
    </li>
  </ul>
</section>
