/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    color: #333;
}

p, a, button, dd, dt, input, label {
    font-size: 1rem;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a, 
nav ul li button {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border: 1px solid #d8d8d8;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav ul li a:hover, 
nav ul li button:hover {
  background-color: #ddd;
}
