#characters.characters .character {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    position: relative;
}

#characters.characters .character a {
    text-decoration: none;
}

#characters.characters .character.active {
    border: 1px solid #91b657;
    border-radius: 10px;
}

#characters.characters .character.active p.active {
    color: #91b657;
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 700;
}
