body {
  background-color: #1c1c1c;
}

.root {
  background-color: #252525;
  color: #dedede;
  font-size: 14px;
  text-shadow: #000 0 -1px 1px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

a, button {
  color: #f4d06e;
  font-size: 14px;
  font-family: Times New Roman;
  display: inline-block;
  height: auto;
  border: unset;
  background-color: unset;
  text-decoration: unset;
  text-align: center;
  border: unset;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #414141;
  padding: 2px 8px 2px 8px;
}

h1 {
  color: #836e1c;
  font-size: 18px;
  padding: 1px 8px;
}

p {
  margin: 0px;
  padding: 0px 6px;
}

.hr {
  border-top: 2px solid #3e3d36;
}

.player-info {
  display: flex;
  gap: 1rem;
}

.player-status {
  height: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 480px;
  margin: 8px 0px 8px 0px;
}

.menu {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menu-item {
  color: #f4d06e;
  border-bottom: 1px dotted #5c5853;
  height: 30px;
  line-height: 30px;
  padding: 0px 6px;
}

.menu-item:last-child {
  border: 0;
}

.menu-header {
  color: #818181;
  border-bottom: 1px dotted #5c5853;
  height: 20px;
  line-height: 20px;
  padding: 0px 6px;
}

.dev::after {
  content: " (In development)";
  color: #df5a3a;
  position: relative;
  top: 1px
}